# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# IDE files (for example, VS Code)
.vscode/
.idea/
